<form method="POST" action="/Form/Display_Values">
    <div class="form-group row">
        <div class="col-xs-2">
            <label for="Name">Name</label>
            <input class="form-control" type="text" id="Name" name="Name">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            <label for="date_of_birth">Date of birth</label>
            <input class="form-control" type="date" id="date_of_birth" name="date_of_birth" >
        </div>
    </div>
    
    <br />
    <div class="form-group row">
        <div class="col-xs-2">
            <input class="btn btn-primary" type="submit" value="Dodaj element">
        </div>
    </div>
</form>